@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

div[class$=__container] {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0px 30px;
}

.header {
  position: absolute;
  left: 0;
  top: 46px;
  right: 0;
  z-index: 20;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  max-width: 100%;
}
.header__menu.active {
  top: 0;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.01em;
  margin-right: 65px;
  color: #242323;
}
.header__link {
  color: inherit;
  position: relative;
}
.header__link::before {
  content: "";
  width: 0;
  transition: width 0.5s ease 0s;
  background: #000;
  position: absolute;
  left: 0;
  height: 2px;
  bottom: 1px;
}
.header__link:hover::before {
  width: 100%;
}
.header__button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  padding: 13px 22px;
  background: #000000;
  border-radius: 7px;
  color: #fefefe;
  display: inline-block;
}
.header__burger {
  display: none;
  width: 25px;
  height: 16px;
  background: transparent;
  position: relative;
  z-index: 15;
}
.header__burger span {
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
}
.header__burger span:nth-child(1) {
  top: 0;
  transition: transform 0.4s ease 0s, top 0.6s ease 0.6s;
}
.header__burger span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
  transition: width 0.5s ease 0s;
}
.header__burger span:nth-child(3) {
  bottom: 0;
  transition: transform 0.4s ease 0s, bottom 0.6s ease 0.6s;
}
.header__burger.active span:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  transition: top 0.6s ease 0s, transform 0.4s ease 0.6s;
}
.header__burger.active span:nth-child(2) {
  width: 0;
  transition: width 0.2s ease 0s;
  transform-origin: center;
}
.header__burger.active span:nth-child(3) {
  bottom: 50%;
  transform: translate(0, 50%) rotate(-45deg);
  transition: bottom 0.6s ease 0s, transform 0.4s ease 0.6s;
}
@media screen and (max-width: 1181px) {
  .header__item {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1013px) {
  .header__burger {
    display: block;
  }
  .header__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: top 1s ease 0s;
  }
  .header__list {
    display: flex;
    flex-direction: column;
  }
  .header__item {
    margin-right: 0;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .header__button {
    padding: 13px 0px;
    width: 100%;
    text-align: center;
  }
}

.intro {
  margin-top: 203.74px;
  margin-bottom: 63px;
}
.intro__wrapper {
  background: #f4f6f5;
  border-radius: 59px;
  display: flex;
  align-items: center;
  padding: 68px 81px 0px 119px;
}
.intro__content {
  margin-right: 43px;
}
.intro__title {
  font-family: "Poppins", sans-serif;
  max-width: 474px;
  font-weight: 900;
  font-size: 96px;
  line-height: 120px;
  color: #000000;
  margin-bottom: 40px;
}
.intro__title span {
  position: relative;
  display: block;
  z-index: 20;
}
.intro__title span:nth-child(1)::before {
  content: url("../../../img/white.png");
  position: absolute;
  left: -40px;
  top: -10px;
  z-index: -1;
}
.intro__title span:nth-child(2)::before {
  content: url("../../../img/yellow.png");
  position: absolute;
  left: -30px;
  top: -10px;
  z-index: -1;
}
.intro__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.05em;
  color: #191818;
  margin-bottom: 32px;
}
.intro__links {
  display: flex;
  align-items: center;
}
.intro__links img {
  margin-right: 34px;
}
.intro__button {
  background: #000000;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  padding: 19px 40px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: -0.05em;
  color: #ffffff;
  display: inline-block;
}
.intro__img img {
  max-width: 100%;
}
@media screen and (max-width: 1335px) {
  .intro__wrapper {
    flex-direction: column;
  }
  .intro__subtitle {
    text-align: center;
  }
  .intro__title {
    text-align: center;
    max-width: none;
  }
  .intro__title span:nth-child(1)::before {
    left: 60px;
    top: 0px;
  }
  .intro__title span:nth-child(2)::before {
    left: 40px;
    top: 0px;
  }
  .intro__content {
    margin-right: 0;
  }
  .intro__links {
    justify-content: center;
  }
}
@media screen and (max-width: 852px) {
  .intro__title {
    text-align: center;
    max-width: none;
  }
  .intro__title span:nth-child(1)::before {
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
  }
  .intro__title span:nth-child(2)::before {
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
  }
  .intro__links {
    flex-direction: column;
    justify-content: center;
  }
  .intro__links img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 693px) {
  .intro__title {
    font-size: 80px;
  }
  .intro__title {
    text-align: center;
    max-width: none;
  }
  .intro__title span:nth-child(1)::before {
    display: none;
  }
  .intro__title span:nth-child(2)::before {
    display: none;
  }
  .intro__wrapper {
    padding: 68px 81px 0px 81px;
  }
}
@media screen and (max-width: 473px) {
  .intro__title {
    font-size: 50px;
    line-height: 70px;
  }
  .intro__subtitle {
    font-size: 28px;
  }
  .intro__button {
    margin-bottom: 40px;
  }
}

.brand {
  margin-bottom: 69px;
  background: #EBD96B;
}
.brand__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 61px 0px 54px 0px;
}
.brand__img img {
  max-width: 100%;
}
@media screen and (max-width: 1163px) {
  .brand__wrapper {
    flex-direction: column;
  }
  .brand__img {
    margin-bottom: 30px;
  }
}

.new {
  margin-bottom: 190px;
}
.new__title {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.06em;
  color: #000000;
  position: relative;
  display: inline-block;
  margin-bottom: 118px;
}
.new__title::before {
  content: url("../../../img/title.png");
  position: absolute;
  bottom: -15px;
  right: 0;
  z-index: -1;
}
.new__cards {
  display: flex;
  overflow: auto;
  justify-content: space-between;
}
.new__card:nth-child(2) {
  margin: 0px 90px;
}
.new__card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new__card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #191919;
  margin-bottom: 7px;
}
.new__card-description {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #7f7f7f;
}

.footer {
  background: #000;
  padding: 119px 0px 147px 0px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__main-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
  color: #ffffff;
}
.footer__main-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
  color: #8e8e8e;
  max-width: 415px;
}
.footer__main-link {
  margin-right: 14px;
}
.footer__main-link:last-child {
  margin-right: 0;
}
.footer__menu {
  display: flex;
}
.footer__menu-list {
  margin-right: 188px;
}
.footer__menu-list:last-child {
  margin-right: 0;
}
.footer__menu-title {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #d9d9d9;
  margin-bottom: 32px;
}
.footer__menu-item {
  margin-bottom: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #8e8e8e;
}
.footer__menu-link {
  color: inherit;
}
@media screen and (max-width: 1600px) {
  .footer__menu-list {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1237px) {
  .footer__menu-list {
    margin-right: 0;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__main {
    margin-bottom: 50px;
  }
  .footer__menu {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1237px) and (max-width: 980px) {
  .footer {
    padding: 80px 0px 80px;
  }
}
@media screen and (max-width: 1237px) and (max-width: 901px) {
  .footer__menu {
    flex-direction: column;
  }
  .footer__menu-list {
    margin-bottom: 30px;
  }
  .footer__menu-list:last-child {
    margin-bottom: 0;
  }
}