.new {
    margin-bottom: 190px;

    &__container {
    }

    &__wrapper {
    }

    &__title {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 48px;
        line-height: 50px;
        letter-spacing: 0.06em;
        color: #000000;
        position: relative;
        display: inline-block;
        margin-bottom: 118px;

        &::before {
            content: url("../../../img/title.png");
            position: absolute;
            bottom: -15px;
            right: 0;
            z-index: -1;
        }
    }

    &__cards {
        display: flex;
        overflow: auto;
        justify-content: space-between;
    }

    &__card {
        &:nth-child(2) {
            margin: 0px 90px;
        }
    }

    &__card-img {
    }

    &__card-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__card-text {
    }

    &__card-title {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 50px;
        letter-spacing: -0.04em;
        color: #191919;
        margin-bottom: 7px;
    }

    &__card-description {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 50px;
        letter-spacing: -0.04em;
        color: #7f7f7f;
    }
}
